services:
  redis:
    image: redis:7
    container_name: tagline-redis-dev
    ports:
      - "6379:6379"

  postgres:
    image: postgres:16
    container_name: tagline-postgres-dev
    environment:
      POSTGRES_USER: tagline
      POSTGRES_PASSWORD: tagline
      POSTGRES_DB: tagline_test
    ports:
      - "5432:5432"

  backend:
    build:
      context: .
    container_name: tagline-backend-dev
    command: uvicorn tagline_backend_app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    environment:
      - APP_ENV=production
    env_file:
      - .env
    depends_on:
      - redis
      - postgres
